/* GLOBAL */

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  /* GLOBAL */

/* FOOTER */

.footer {
  background-color: #f2f2f2;
  width: 100%;
}
.footerWrapper {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.footerWrapperColumn {
  width: 30%;
  padding: 2rem 2rem;
}
.footerWrapperColumn a {
  display: block;
  margin: 1rem 0;
}
.footerWrapperColumn h3:hover {
  text-decoration: underline;
}
@media (max-width: 750px) {
  .footerWrapper {
    flex-direction: column;
    padding: 2rem;
  }
  .footerWrapperColumn {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
  }
  .footerWrapperColumn:first-child {
    margin-top: 0;
  }
  .footerWrapperColumn:last-child {
    margin-bottom: 0;
  }
  .footerWrapperColumn h3 {
    margin: 0;
  }
  .footerWrapperColumn a:last-child {
    margin-bottom: 0;
  }
}

/* FOOTER */
